html, body, #app, #app>div {
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
}

button *:disabled {
  background-color: white;
  color: white;
}

button:hover {
  transform:scale(1.5,1.5);
  -webkit-transform:scale(1.5,1.5);
  -moz-transform:scale(1.5,1.5);
}

.guessed {
  font-weight: 900;
  color: red;
  border-radius: 5px;
}

.instructions {
  padding: spacer;
}

