html,
body,
#app,
#app > div {
  height: 100%;
}
/* fill 100% of page */
#root {
  height: 100%;
}

/* ensure text aligns center and fills all of page */
.App {
  text-align: center;
  height: 100%;
}

/* indicate selected lettering */
button *:disabled {
  background-color: white;
  color: white;
}

/* on hover */
button:hover {
  transform: scale(1.5, 1.5);
  -webkit-transform: scale(1.5, 1.5);
  -moz-transform: scale(1.5, 1.5);
}
